
    <div id="footer">
        <div>
        <img id="belathor" src="images/belathor.png">
    </div>
<div>
    <img id="map" src="images/map.jpg">
</div>
    <div>
        <p id="contacttext">contact me:<br><a id="email" href="mailto: david-rowe2@live.nmit.ac.nz">Belathor@bestshopever.co.skyrim</a></p>
        <p id="storelocation">Belathor's General Goods<br>Whiterun, Skyrim, Tamriel.</p>
        <div>
        <audio controls style="margin: 0 auto; display: block;">
            <source src="/audio/Dragonborn.mp3" type="audio/mpeg">
        </audio></div>
    </div>
    </div>
    