---
layout: wrapper
---

<body id="cart">

  <p id="hello">"I can tell you're a discriminating customer. Maybe a wealthy one too?"</p>

  <div class="cartcontainer">

    <div class="cartrow">
        <h3>Billing Address</h3>
        <label>Full Name</label>
        <input type="text" placeholder="Jon Dovahkiin Dragonborn">
        <label>Email</label>
        <input type="text" placeholder="Dovahkiin@example.com">
        <label>Address</label>
        <input type="text" placeholder="66 Nightingale Street">
        <label>City</label>
        <input type="text" placeholder="White Run">
        <label>Country</label>
        <input type="text" placeholder="Skyrim">
      </div>

      <div class="cartcol">
        <h3>Payment</h3>
        <label>Name on Card</label>
        <input type="text" placeholder="Jon Dovahkiin">
        <label>Credit card number</label>
        <input type="text" placeholder="1111-2222-3333-4444">
        <label>Exp Month</label>
        <input type="text" placeholder="September">
        <label>Exp Year</label>
        <input type="text" placeholder="2025">
        <label>CVV</label>
        <input type="text" placeholder="352">
      </div>

    <div class="cartconfirm">
        <input type="checkbox" checked="checked">Shipping address same as billing
        <input type="submit" value="Continue to checkout" class="btn">
    </div>
  </div>
  
  <div class="cartitemcontainer">
    <div id="carttext">CART</div>
    
    <div class="itemsincart">

    <div>
    <img id="heart" src="images\Daedra_heart.png" alt="daedraheart"><br>Daedra Heart
    <div id="goldtext">750g</div>
    </div>

    <div>
    <img id="gianttoe" src="images\gianttoe.png" alt="gianttoe"><br>Giant Toe
    <div id="goldtext">120g</div>
    </div>

    <div>
    <img id="helmofyngol" src="images\helmofyngol.png" alt="helmofyngol"><br>Helm of Yngol
    <div id="goldtext">400g</div>
    </div> 
  </div>


    <div id="total">
    <hr>Total
    <div id="goldtext">1270g</div>
  </div>
  </div>
</body>