---
layout: wrapper
---

<body id="home">
    <p id="hello">"Everything's for sale, my friend. Everything. If I had a sister, I'd sell her in a second."</p>

    <p class="welcome">Welcome to Belethor's General Goods<br>The best prices in all Tamriel guaranteed!</p>

    <p class="specialtext">Todays Specials!</p>
    <div class="specials">
        <div>
            <img id="heart" src="images/Daedra_heart.png" alt="Daedra_heart"><br>
            Daedric Heart<br>
            <div id="goldtext">750g</div>
        </div>
        <div>
            <img id="potion" src="images/potion.png" alt="potion"><br>
            Potion of Strength<br>
            <div id="goldtext">75g</div>
        </div>
        <div>
            <img id="book" src="images/conjurationbook.png" alt="conjurationbook"><br>
            Conjuration Tome<br>
            <div id="goldtext">250g</div>
        </div>
        <div>
            <img id="blacksoul" src="images/BlackSoulGem.png" alt="blacksoulgem"><br>
            Black Soul Gem<br>
            <div id="goldtext">500g</div>
        </div>
    </div>
</body>