---
layout: wrapper
---

<body id="shop">

    <div class="shoplist">
        <div><a href="#armorref">Armor</a></div>
        <div><a href="#bookref">Books</a></div>
        <div><a href="#foodref">Food</a></div>
        <div><a href="#potionref">Potions</a></div>
        <div><a href="#ingredientsref">Ingredients</a></div>
    </div>
    <div>
        <p id="hello">"Everything's for sale, my friend. Everything. If I had a sister, I'd sell her in a second."</p>
    </div>
    <div class="dragonmasks">
        <img src="images/newarmor.jpg" alt="dragonmasks" style="width:60%">
        <div id="comingsoon">New armor coming soon!
        </div>
    </div>

        <div>
            <h2 id="armorref">Armor</h2>
        </div>
        <div class="armorshop">
            <div>
                <img id="steelchest" src="images/steelchest.png" alt="steelchest"><br>
                Steel Chestplate<br>
                <div id="goldtext">500g</div>
            </div>
            <div>
                <img id="daedrichelm" src="images/daedrichelm.png" alt="daedrichelm"><br>
                Daedric Helm<br>
                <div id="goldtext">1150g</div>
            </div>
            <div>
                <img id="helmofyngol" src="images/helmofyngol.png" alt="helmofyngol"><br>
                Helm of Yngol<br>
                <div id="goldtext">400g</div>
            </div>
            <div>
                <img id="dragonscalearmor" src="images/dragonscalearmor.png" alt="dargonscalearmor"><br>
                Dragon Scale Armor<br>
                <div id="goldtext">1000g</div>
            </div>
        </div>

        <div>
            <h2 id="bookref">Books</h2>
        </div>
        <div class="bookshop">
            <div>
                <img id="conjurationbook" src="images/conjurationbook.png" alt="conjurationbook"><br>
                Conjuration Tome<br>
                <div id="goldtext">200g</div>
            </div>
            <div>
                <img id="restorationbook" src="images/restorationbook.png" alt="restorationbook"><br>
                Restoration Tome<br>
                <div id="goldtext">250g</div>
            </div>
            <div>
                <img id="illusionbook" src="images/illusionbook.png" alt="illusionbook"><br>
                Illusion Tome<br>
                <div id="goldtext">200g</div>
            </div>
            <div>
                <img id="alterationbook" src="images/alterationbook.png" alt="alterationbook"><br>
                Alteration Tome<br>
                <div id="goldtext">180g</div>
            </div>
        </div>

        <div>
            <h2 id="foodref">Food</h2>
        </div>
        <div class="foodshop">
            <div>
                <img id="sweetroll" src="images/sweetroll.png" alt="sweetroll"><br>
                Sweet Roll<br>
                <div id="goldtext">10g</div>
            </div>
            <div>
                <img id="cheese" src="images/cheese.png" alt="cheese"><br>
                Wheel of Cheese<br>
                <div id="goldtext">40g</div>
            </div>
            <div>
                <img id="ale" src="images/ale.png" alt="ale"><br>
                Ale<br>
                <div id="goldtext">20g</div>
            </div>
            <div>
                <img id="bread" src="images/bread.png" alt="bread"><br>
                Bread<br>
                <div id="goldtext">5g</div>
            </div>
        </div>

        <div>
            <h2 id="potionref">Potions</h2>
        </div>
        <div class="potionshop">
            <div>
                <img id="healthpotion" src="images/healthpotion.png" alt="healthpotion"><br>
                Health Potion<br>
                <div id="goldtext">100g</div>
            </div>
            <div>
                <img id="manapotion" src="images/manapotion.png" alt="manapotion"><br>
                Mana Potion<br>
                <div id="goldtext">80g</div>
            </div>
            <div>
                <img id="staminapotion" src="images/staminapotion.png" alt="staminapotion"><br>
                Stamina Potion<br>
                <div id="goldtext">80g</div>
            </div>
            <div>
                <img id="skooma" src="images/skooma.png" alt="skooma"><br>
                Skooma<br>
                <div id="goldtext">200g</div>
            </div>
        </div>

        <div>
            <h2 id="ingredientsref">Ingredients</h2>
        </div>
        <div class="ingredientshop">
            <div>
                <img id="trollfat" src="images/trollfat.png" alt="trollfat"><br>
                Troll Fat<br>
                <div id="goldtext">60g</div>
            </div>
            <div>
                <img id="butterflywing" src="images/butterflywing.png" alt="butterflywing"><br>
                Butterfly Wing<br>
                <div id="goldtext">40g</div>
            </div>
            <div>
                <img id="blisterwort" src="images/blisterwort.png" alt="blisterwort"><br>
                Blisterwort<br>
                <div id="goldtext">80g</div>
            </div>
            <div>
                <img id="gianttoe" src="images/gianttoe.png" alt="gianttoe"><br>
                Giant Toe<br>
                <div id="goldtext">120g</div>
            </div>
        </div>

</body>