---
layout: wrapper
---

<body id="signin">
  <p id="hello">"Me and you are the only sane ones."</p>
  <div class="logcontainer">
    <h3>LOG IN</h3>
    <label>Email</label>
    <input type="text" id="email" placeholder="Dovahkiin@example.com">
    <label>Password</label>
    <input type="text" id="password" placeholder="Enter Password">
    <input type="submit" value="Log in" class="btn">
    <p id="noaccount">Don't have an account?</p>
    <input type="submit" value="Sign up" class="btn">
  </div>
</body>